<div class="grid grid-cols-[1fr_minmax(100px,960px)_1fr]">
  <div></div>
  <div class="py-8">
    <section class="!-mt-20">
      <h2 class="!font-extrabold mb-8">
        <span class="fancy-text-grad !text-4xl inline-block mb-4">Hi, I'm Joris</span><br />
        Freelance Fullstack Front-end Developer <br />
        currently open to new opportunities starting in February 2025<br />
      </h2>

      <p>
        With a <b>passion for development and a keen eye for UI/UX</b>, I can help you create a product that is both highly functional and visually
        appealing. Fromt initial mockup to CI/CD. <br />
        While I have a preference for greenfield projects, what matters most to me is the <b>team collaboration</b> to ensure a durable partnership.
      </p>
      <p>
        Feel free to connect with me on <a href="https://www.linkedin.com/in/joriscompernol/" target="_blank">linkedIn</a>! <br />
        Or if you're seeking a highly efficient, small, full-stack development team,
        <a href="https://philomathica.github.io/#team" target="_blank">look no further!</a>
      </p>
      <h4 class="font-extrabold uppercase">Relevant skills</h4>
      <ul class="horizontal-list">
        <li>Angular 19</li>
        <li>Nx</li>
        <li>Svelte</li>
        <li>Tailwind</li>
        <li>RxJS</li>
        <li>Ngrx</li>
        <li>ExpressJS</li>
        <li>NestJS</li>
        <li>Jest</li>
        <li>Figma</li>
        <li>Storybook</li>
        <li>Playwright</li>
        <li>Cypress</li>
        <li>Github Actions</li>
        <li>MongoDB</li>
        <li>D3</li>
        <li>Autodesk Viewer</li>
        <li>Mapbox</li>
        <li>SQLite</li>
        <li>Ionic</li>
        <li>Capacitor</li>
        <li>...</li>
      </ul>
    </section>

    <h4 class="my-8 text-center mx-8 px-16">Some of the amazing projects I've had the chance to work on so far:</h4>

    <section>
      <h2>Engie Digital - Paris</h2>
      <h3>Front-end Developer - Jan 2019 - current</h3>

      <h4>Summary</h4>
      <p>
        As part of the core team, I helped developing the front-end for
        <a href="https://engiesolutions.me/our-solutions/smart-om/" target="_blank">Smart-O&M</a>, a <b>global B2B energy platform </b>. This
        encompassed everything from creating a robust design system to setting up multiple applications within an <b>Nx Monorepo</b>. Responsibilities
        extended beyond the initial setup to ongoing development, team leadership, and <b>maintaining high coding standards.</b>
        <br />
        Given the diverse customer base of Smart-O&M, I worked on integrating a <b>wide range of technologies</b>, including HighCharts, D3, Autodesk
        Viewer, and PowerBI. <br /><br />
        Notably, I also had the unique opportunity to design and implement a
        <b>custom indoor asset localization system </b> built on top of Mapbox.
      </p>

      <h4>Tasks</h4>
      <ul class="vertical-list">
        <li>
          <b>Design</b>(10%): creating and maintaining a design system to be used by the functional developers and myself in Figma. Create mockups &
          challenge requests from POs & FCs.
        </li>
        <li>
          <b>Development</b>(90%): Implement user stories delivered by functional developers, focusing on modular and scalable code within an Nx
          Monorepo (Angular, NestJS).
        </li>
        <li><b>Testing:</b> unit tests in Jest, (feature & UI) component testing in Storybook, e2e testing in Cypress.</li>
      </ul>

      <h4>Skills</h4>
      <ul class="horizontal-list">
        <li>Angular 19</li>
        <li>Nx</li>
        <li>Angular Material</li>
        <li>Angular CDK</li>
        <li>Tailwind</li>
        <li>RxJS</li>
        <li>Ngrx</li>
        <li>SignalStore</li>
        <li>NestJs</li>
        <li>Storybook</li>
        <li>Jest</li>
        <li>Playwright</li>
        <li>Figma</li>
        <li>Cypress</li>
        <li>D3</li>
        <li>Autodesk Viewer</li>
        <li>Mapbox</li>
        <li>SQLite</li>
        <li>Github Actions</li>
        <li>MongoDB</li>
        <li>...</li>
      </ul>
    </section>
    <section>
      <h2>Allianz</h2>
      <h3>Designer/Front-end Developer - Feb 2017 - Dec 2018</h3>
      <h4>Summary</h4>
      <p>
        Designed and developed the frontend for <b>a new platform enabling brokers to create and manage quotes</b> and contracts for Allianz insurance
        products. During the initial three-month startup phase, I collaborated closely with functional consultants to <b>design and develop</b> all
        user-flows. As part of the team, I spearheaded the development of the Belgian broker portal alongside two colleagues, using Angular (versions
        2, 4, and 5). In a next phase we worked on a follow-up platform tailored for the Dutch market, leveraging Angular 6 to deliver an even more
        refined user experience.
      </p>

      <h4>Tasks</h4>
      <ul class="vertical-list">
        <li>
          <b>Development & design:</b> During the early phase (one month), I defined the UX/UI and created mockups to support the functional
          developers. Once the initial set of user stories was finalized, I began implementing the stories provided by the functional developers.
        </li>
      </ul>
      <h4>skills:</h4>
      <ul class="horizontal-list">
        <li>Angular 7</li>
        <li>Redux</li>
        <li>PrimeNG</li>
        <li>RxJS</li>
        <li>Express</li>
        <li>...</li>
      </ul>
    </section>
    <section>
      <h2>VRT</h2>
      <h3>Designer/Front-end Developer (iov Euricom) - Sep 2016 - Dec 2016</h3>
      <h4>Summary</h4>
      <p>
        Together with my colleague Matthias, we redesigned and
        <b>developed a web-based, open-source subtitle tool for the social team at VRT (deredactie.be) using Angular 2 and Firebase</b>. The tool
        enables the people at VRT to efficiently subtitle and brand videos and it is extensively used on deredactie.be and Facebook. Key features
        include: custom template selection and subtitle addition, with branded, dynamic templates rendered via a separate After Effects process. A
        dedicated worker seamlessly handles all queueing data, and a custom ffmpeg process stitches all videos and subtitle data into a web-optimized,
        mobile-friendly video, properly delivered by the Postmark API. <br /><b
          >Firebase played a crucial role in managing asynchronous requests and provided a real-time database</b
        >
        that was both intuitive to monitor and powerful for triggering instant events. This streamlined development while ensuring a smooth user
        experience.
      </p>
      <h4>Tasks</h4>

      <ul class="vertical-list">
        <li>Building entire app, design, architecture & development</li>
      </ul>
      <h4>skills:</h4>

      <ul class="horizontal-list">
        <li>Firebase</li>
        <li>Angular2</li>
        <li>NodeJS</li>
        <li>CSS/LESS</li>
        <li>AWS</li>
        <li>FFMPG</li>
        <li>...</li>
      </ul>
    </section>

    <section>
      <h2>Uitgeverij Pelckmans NV</h2>
      <h3>Designer/Front-end Developer (iov Euricom) - May 2016 - Aug 2016</h3>
      <h4>Summary</h4>

      <p>
        For four months, I had the opportunity to work at Pelckmans on an exciting project alongside three other team members from Euricom. Our goal
        was to
        <b
          >develop a centralized back-office and front-office application to manage the vast amount of educational content provided to teachers and
          students</b
        >. My primary responsibility was redesigning the web app, which will serve thousands of users across educational institutions. This involved
        presenting, discussing, and refining the design to ensure it met user needs and aligned with the client’s vision—a key component of the
        project. Beyond design, one of the most significant challenges we addressed was conducting extensive integration testing and structuring the
        API. Working in two-week sprints, our team delivered substantial value by integrating multiple external APIs, creating a single sign-on
        architecture, and leveraging AWS for blob storage. The work spanned both frontend and backend development, tackling a wide range of user
        stories that demanded innovative solutions. Personally, this project offered invaluable insights into API structuring and modeling.
        Collaborating with such a motivated team was a highlight, fostering both technical growth and a deeper understanding of efficient project
        execution.
      </p>

      <h4>Tasks:</h4>
      <ul class="vertical-list">
        <li>
          Design Webapp (Google's Material Design Concept) - Completing both challenging frontend and backend user stories - Code reviewing - Unit and
          integration testing
        </li>
      </ul>
      <h4>skills:</h4>

      <ul class="horizontal-list">
        <li>AngularJS</li>
        <li>CSS/LESS</li>
        <li>Sketch</li>
        <li>Invision</li>
        <li>Illustrator</li>
        <li>Mongoose</li>
        <li>MongoDB</li>
        <li>Gulp</li>
        <li>AWS</li>
        <li>...</li>
      </ul>
    </section>

    <section>
      <h2>Euricom</h2>
      <h3>Front-end Developer - Feb 2016 - Jun 2016</h3>
      <h4>Summary</h4>
      <p>
        I started my career at Euricom with the Euricom Web Bootcamp. During nine weeks we got an intensive in-depth training that was specifically
        created for learning the latest web development technologies. From first day we used the hands-on approach with our real live practical case.
      </p>
      <h4>Tasks:</h4>
      <ul class="vertical-list">
        <li>
          HTML5 & CSS: Mastering the fundamentals of both semantic as well as how to make your web applications render beautifully and performant on
          any device.
        </li>
        <li>
          Advanced Javascript: part of the course for intermediate JavaScript programmers, bringing them completely up to speed with the challenges of
          modern JavaScript development.
        </li>
        <li>
          MEAN.JS: one of the best javascript solutions that help you build fast, robust and maintainable production web applications using MongoDB,
          ExpressJS, AngularJS and NodeJS.
        </li>
        <li>ReactJS and Flux: explored a different javascript framework to get a look at the bigger picture.</li>
        <li>
          Unit Testing: Learn a methodology of producing rock-solid, easy-to-maintain code. Agile Development: Develop and iterate on our projects by
          keeping a close eye on costs and value.
        </li>
        <li>Git and Source Control: Manage our code versions and collaborate on projects with other programmers.</li>
        <li>
          Soft Hard Skills: Get our feet wet with pair-programming, presentation skills, interview skills, code reviews, giving feedback and more.
          Javascript, AngularJS, NodeJS, ReactJS, NPM, Karma, Mocha, Express, MongoDB, Mongoose, Github, JSON, JSON Web Token, WebPack, Sinon, Chai,
          Gulp
        </li>
      </ul>
    </section>

    <section>
      <h2>Euricom - Vente Exclusive Project</h2>
      <h3>Front-end Developer - Mar 2016 - May 2016</h3>

      <h4>Summary</h4>
      <p>
        During the last 2 weeks of our nine week intensive in-depth training, our team of 4 built a <b>hybrid mobile webshop application</b> with the
        latest web development technologies including Angular, Ionic, Redux and GraphQL. We approached the project the agile SCRUM way, put our code
        under GIT source control and integrated solid unit-testing.
      </p>
      <h4>skills:</h4>
      <ul class="horizontal-list">
        <li>Angular</li>
        <li>Redux</li>
        <li>GraphQL</li>
        <li>Ionic</li>
        <li>...</li>
      </ul>
    </section>

    <section>
      <h2 class="font-bold my-4 text-gray-700">YAPPA</h2>
      <h3>Front-end Developer / Designer - Mar 2014 - Jan 2016</h3>
      <h4>Summary</h4>
      <p>
        Designing webapps/sites Implementing & refactoring various sites for small and medium-sized businesses Optimizing frontend setup for bigger
        webshops to BAM & SMACSS - GULP SETUP
      </p>
      <h4>Skills:</h4>
      <ul class="horizontal-list">
        <li>HTML</li>
        <li>CSS</li>
        <li>LESS</li>
        <li>BEM</li>
        <li>Gulp</li>
        <li>JQuery</li>
        <li>Bootstrap</li>
        <li>...</li>
      </ul>
    </section>
    <section>
      <h2>Digiti</h2>
      <h3>Webdesigner at Digiti - Jan 2009 - Mar 2014</h3>
      <h4>Summary</h4>
      <p>
        Solving design problems for both local and international clients in 2D & 3D sites - portals - emails - apps - intranetsites - videos Creating
        content for Augmented Reality apps. Designing & developing interactive experiences (in Flash). Infographic videos from storyboard to final
        product (3D, 2D & live-action footage). Creating various concepts and prototypes. Help out with whatever I can!
      </p>
    </section>
    <section>
      <h2>CENTOMEDIA</h2>
      <h3>Multimedia Designer - Nov 2007 - Jan 2009</h3>
      <h4>Summary</h4>
      <p>
        Creating dynamic Flash templates for narrowcasting (AS3). Solving design problems for multimedia video commercials, instore communication,
        print, ... Creating various concepts/visualising ideas. Slicing various sites for small and medium-sized businesses
      </p>
    </section>
  </div>
  <div></div>
</div>
